# INSTRUCTIONS: copy this file as '.env' and ensure the
# filename '.env' is in your '.gitignore' file.

# Server config
SERVER_PORT =
SERVER_NAME =
DOCS_SERVER_PORT =

# DB Credentials
DB_HOST =
DB_PORT =
DB_USER =
DB_PASSWORD =

# DB Databases
DB_DATABASE =
TEST_DB_DATABASE =

# Knex configuration option 
NODE_ENV =

# JWT secrets
JWT_ACCESS_SECRET =
JWT_REFRESH_SECRET =

# Staff code
STAFF_CODE =

# Google OAuth 2.0 Credentials
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
